<!DOCTYPE html>
<html>

<head>
  <link href="css/css.css" rel="stylesheet" type="text/css">
</head>

<body background="./css/images/New Doc 2018-10-14.jpg" alt="manipal logo" />
<header><img src="./css/images/2955952.png" alt="manipal logo" width="500"></header>


<form action="/" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="submit"/>
    </div>
</form>
</body>

</html>