<!Doctype html>
<html>

<head>
    <link href="/css/css.css" rel="stylesheet" type="text/css">

</head>

<body background="./css/images/New Doc 2018-10-14.jpg" alt="manipal logo" />
<header><img src="./css/images/2955952.png" alt="manipal logo" width="500"></header>
<div class="row">

    <div class="center-col">
        RESULT WILL BE UPLOADED AS SOON THE VOTING PROCESS IS OVER .
    </div>

</div>
</body>

</html>